@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100;200;300;400;500;600;700;800&family=Space+Grotesk:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Space Grotesk;
    box-sizing: border-box;
    font-size: 18px;
}

:root {
    --red: hsl(0, 100%, 66%);
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
}